input {
    mod-key "Alt"
    mod-key-nested "Super"

    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 250
        repeat-rate 80
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        scroll-factor horizontal=1.3 vertical=1.0
    }

    warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse max-scroll-amount="30%"
}

// Run `niri msg outputs` inside a niri instance to list all outputs and modes.
output "HDMI-A-2" {
    mode "2560x1600@120.003"
    scale 1.75
    transform "normal"
    position x=0 y=0
}

output "DP-1" {
    mode "2560x1600@160.000"
    scale 1.75
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 2
    center-focused-column "never"
    background-color "#131313"

    tab-indicator {
        hide-when-single-tab
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    // preset-window-heights { }

    // If left empty, the width would be devicded by windows themselves.
    default-column-width {
        proportion 0.9;
    }

    focus-ring {
        width 2
        active-color "#cba6f788"
        inactive-color "#50505088"
    }

    // If border enabled, you probably want to disable the focus ring.
    border {
        off
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}
prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

cursor {
  xcursor-theme "macOS"
  xcursor-size 20
}

screenshot-path "~/pictures/screenshots/%Y-%m-%d_%H-%M-%S.png"

animations {}
window-rule {
  match app-id="launcher"
  open-floating true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Running Programs
    Mod+T hotkey-overlay-title="Terminal: foot" { spawn "footclient"; }
    Super+Space hotkey-overlay-title="Launcher" { spawn "footclient" "-a" "launcher" "-e" "launcher"; }

    // Audio Volume
    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Brightness
    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "ddcutil setvcp 10 + 20 -b 4"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "ddcutil setvcp 10 - 20 -b 4"; }

    // General Operations
    Mod+O repeat=false { toggle-overview; }
    Super+Q repeat=false { close-window; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+W { toggle-column-tabbed-display; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Floating
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Screenshot
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }


    // Focus Jumping
    Super+H           { focus-column-left; }
    Super+L           { focus-column-right; }
    Super+J           { focus-window-or-workspace-down; }
    Super+K           { focus-window-or-workspace-up; }

    Super+Left        { focus-column-left; }
    Super+Right       { focus-column-right; }
    Super+Down        { focus-window-or-workspace-down; }
    Super+Up          { focus-window-or-workspace-up; }

    Super+Home        { focus-column-first; }
    Super+End         { focus-column-last; }
    Super+Shift+Home  { move-column-to-first; }
    Super+Shift+End   { move-column-to-last; }

    Super+WheelScrollDown   cooldown-ms=150 { focus-workspace-down; }
    Super+WheelScrollUp     cooldown-ms=150 { focus-workspace-up; }
    Super+WheelScrollRight  cooldown-ms=150 { focus-column-right; }
    Super+WheelScrollLeft   cooldown-ms=150 { focus-column-left; }

    // Column Movement
    Super+Shift+H     { move-column-left; }
    Super+Shift+L     { move-column-right; }
    Super+Shift+J     { move-window-down-or-to-workspace-down; }
    Super+Shift+K     { move-window-up-or-to-workspace-up; }

    Super+Shift+Left  { move-column-left; }
    Super+Shift+Down  { move-column-right; }
    Super+Shift+Up    { move-window-down-or-to-workspace-down; }
    Super+Shift+Right { move-window-up-or-to-workspace-up; }

    Super+Shift+WheelScrollDown  cooldown-ms=150 { move-column-to-workspace-down; }
    Super+Shift+WheelScrollUp    cooldown-ms=150 { move-column-to-workspace-up; }
    Super+Shift+WheelScrollRight cooldown-ms=150 { move-column-right; }
    Super+Shift+WheelScrollLeft  cooldown-ms=150 { move-column-left; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma        { consume-window-into-column; }
    Mod+Period       { expel-window-from-column; }

    // Column Movement between Monitors
    Super+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Super+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Super+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Super+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Super+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Super+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Super+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Super+Shift+Ctrl+L     { move-column-to-monitor-right; }


    // Workspcace Focus
    Mod+1       { focus-workspace 1; }
    Mod+2       { focus-workspace 2; }
    Mod+3       { focus-workspace 3; }
    Mod+4       { focus-workspace 4; }
    Mod+5       { focus-workspace 5; }
    Mod+6       { focus-workspace 6; }
    Mod+7       { focus-workspace 7; }
    Mod+8       { focus-workspace 8; }
    Mod+9       { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Super+Tab { focus-workspace-previous; }

    // Resize
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
}

spawn-sh-at-startup "systemctl --user start foot-server.service"
spawn-sh-at-startup "systemctl --user start cliphist.service"
spawn-sh-at-startup "systemctl --user start cliphist-images.service"

spawn-at-startup "footclient"
